<div class="container">

    <h3 id="characterResult">Your Character</h3>

    <div id="characterDiv">
        <p>{{firstName}} {{lastName}}.  {{alsoKnownText}} {{title}}.</p>
        <p>{{originText}} {{origin}}</p>
        <p>{{abilitiesText}} {{description}}.</p>
        <img src="{{{Image}}}" alt="character">
    </div>

    <button type="submit" class="btn btn-warning" id="playAgainBtn">Play Again</button>

</div>
